 .mobl-menu{
    clip-path: circle(10px at 100% -10%);
        transition: 2s;
        background: #eab0a5;
        /* display: grid; */
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 100;
        /* animation: moon 1s ease-in-out; */
        /* opacity: 0; */
        /* justify-content: center;; */
        top:-68px;;
        ;
        right: 2px;
 }
 .show{
    clip-path: circle(1500px at 100% -30%);
    height: 100%;
 }

 #slider {
   z-index: 0;
    transition: background 0.5s ease;
    position: relative;
    display: flex;
    background-position: center ,
       center ,
       center ;
    background-size: contain,
       cover,
       cover;
    background-repeat: no-repeat,
       no-repeat,
       no-repeat;
    height: 100%;
    width:100%;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
   
       

 }
 .slider1{
   position:relative;
   height: 100%;
   width:100%;
   transition: 1s;
 }
 .slider-1{
   width: 100%;
   background-image: url(images/homeslider001.jpg);
   opacity: 0.7;
 }
 .slider-2{
   width: 100%;
   background-image: url(images/download.jpg);
 }
 .church-info1{
   height: 266px;
      width: 384px;
      font-size: 1.5rem;
      text-align: inherit;
      padding: 33px 0;
      margin: 20px;
   opacity: 0;
   box-shadow: 2px 3px 3px rgb(9, 9, 9), -2px 2px 2px rgba(17, 121, 46, 0)
 }
 .church-info1.show{
   opacity: 1;
   animation: move 1s steps(12) forwards;
 }
 .church-info1:hover{
   box-shadow: none;
 }
 @keyframes move {
    0% {
       transform: scale(0.2);
    }

    100% {
       transform: scale(1);
    }
 }
 .church-info1 span{
   font-weight: 800;
   color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .church-info1 ul{
   list-style-type: none;
   padding: 0;
 }
